<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>Адресация памяти</string>
		<key>creationDate</key>
		<string>2011/11/24 15:50</string>
		<key>modificationDate</key>
		<string>2011/11/24 15:50</string>
		<key>owner</key>
		<string>aleksandr.dolgarev</string>
		<key>audio</key>
		<string>audio.mp3</string>
		<key>cuePoints</key>
		<array>
			<integer>294</integer>
			<integer>588</integer>
			<integer>882</integer>
			<integer>1176</integer>
			<integer>1471</integer>
			<integer>1765</integer>
			<integer>2059</integer>
			<integer>2353</integer>
			<integer>2647</integer>
		</array>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>Адреса памяти в защищенном режиме</string>
				<key>src</key>
				<string>1.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Преобразование логического адреса</string>
				<key>src</key>
				<string>2.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Сегментация в Linux</string>
				<key>src</key>
				<string>3.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Сегментация в Linux 2</string>
				<key>src</key>
				<string>4.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Обычное управление страницами</string>
				<key>src</key>
				<string>5.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Управление страницами в 64-разрядных архитектурах</string>
				<key>src</key>
				<string>6.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Преимущества страничной организации памяти</string>
				<key>src</key>
				<string>7.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Аппаратный кеш</string>
				<key>src</key>
				<string>8.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Буферы быстрого преобразования адреса (TLB)</string>
				<key>src</key>
				<string>9.png</string>
			</dict>
		</array>
	</dict>
</plist>
